.header_element_split {margin-left: 30px;}
.header_element_split::before {content: "";position: absolute;top: 0;bottom: 0;right: -11px;width: 1px;height: 19px;opacity: .5;margin: auto;display: block;border-right-width: 1px;border-right-style: solid;}
@media only screen {}
@media only screen and (min-width: 1440px) {.cmsmasters_responsive_width {width: 1440px;}
	#page.cmsmasters_boxed {width: 1230px;}
	#page.cmsmasters_boxed #header, #page.cmsmasters_boxed #footer {width: 1230px;}
	.post-password-form, .header_top_inner, .header_mid_inner, .header_bot_inner, .content_wrap, .headline_inner, .bottom_outer, .footer_inner, .cmsmasters_row_inner, .cmsmasters_row_title_wrap {width: 1200px;}}
@media only screen and (max-width: 1440px) {nav > div > ul a {padding-left: 8px;padding-right: 8px;}}
@media only screen and (max-width: 1440px) and (min-width: 950px) {.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_wrap {padding: 10px 20px 15px;}
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab li {margin: 0;}
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_img {position: relative;text-align: left;display: none;}
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont {padding: 0;}}
@media only screen and (min-width: 1025px) {.cmsmasters_responsive_width {width: 1025px;}
	.fixed_header #header {position: fixed;}
	.header_top_outer, .header_top .top_nav_wrap nav {display: block !important;}}
@media only screen and (max-width: 1024px) {.cmsmasters_responsive_width {width: 1024px;}
	.headline_outer {background-attachment: scroll;}
	.cmsmasters_profile.vertical .cmsmasters_img_wrap {width: 40%;}
	.cmsmasters_profile.vertical .cmsmasters_img_wrap + .profile_inner {width: 60%;}
	.gallery.gallery-columns-9 .gallery-item, .gallery.gallery-columns-6 .gallery-item {width: 31.33%;}
	.gallery.gallery-columns-9 .gallery-item:nth-child(6n + 1), .gallery.gallery-columns-6 .gallery-item:nth-child(6n + 1), .gallery.gallery-columns-9 .gallery-item:nth-child(9n + 1), .gallery.gallery-columns-6 .gallery-item:nth-child(9n + 1) {clear: none;}
	.gallery.gallery-columns-9 .gallery-item:nth-child(3n + 1), .gallery.gallery-columns-6 .gallery-item:nth-child(3n + 1) {clear: both;}
	.gallery.gallery-columns-8 .gallery-item {width: 23%;}
	.gallery.gallery-columns-8 .gallery-item:nth-child(8n + 1) {clear: none;}
	.gallery.gallery-columns-8 .gallery-item:nth-child(4n + 1) {clear: both;}
	.gallery.gallery-columns-7 .gallery-item, .gallery.gallery-columns-5 .gallery-item, .gallery.gallery-columns-4 .gallery-item {width: 48%;}
	.gallery.gallery-columns-7 .gallery-item:nth-child(4n + 1), .gallery.gallery-columns-5 .gallery-item:nth-child(4n + 1), .gallery.gallery-columns-4 .gallery-item:nth-child(4n + 1), .gallery.gallery-columns-7 .gallery-item:nth-child(5n + 1), .gallery.gallery-columns-5 .gallery-item:nth-child(5n + 1), .gallery.gallery-columns-4 .gallery-item:nth-child(5n + 1), .gallery.gallery-columns-7 .gallery-item:nth-child(7n + 1), .gallery.gallery-columns-5 .gallery-item:nth-child(7n + 1), .gallery.gallery-columns-4 .gallery-item:nth-child(7n + 1) {clear: none;}
	.gallery.gallery-columns-7 .gallery-item:nth-child(2n + 1), .gallery.gallery-columns-5 .gallery-item:nth-child(2n + 1), .gallery.gallery-columns-4 .gallery-item:nth-child(2n + 1) {clear: both;}
	.cmsmasters_profile.horizontal .cmsmasters_profile_horizontal.one_fourth:nth-child(2n+1) {clear: left;}
	#page.cmsmasters_boxed {width: 100%;}
	#page.cmsmasters_boxed #header, #page.cmsmasters_boxed #footer {width: 100%;}
	#page.fixed_header #header {position: relative;}
	#page.fixed_header #middle, #page.fixed_header.enable_header_top #middle, #page.fixed_header.enable_header_bottom #middle, #page.fixed_header.enable_header_top.enable_header_bottom #middle {padding-top: 0;}
	#header {position: relative;}
	#header nav {height: auto;}
	#header nav div, #header nav ul, #header nav li, #header nav a, #header nav span {background-image: none !important;display: block;width: auto;height: auto;float: none;margin: 0;padding: 0px 0;visibility: visible;position: relative;left: auto;right: auto;top: auto;bottom: auto;text-align: left;border-width: 0;border-style: solid;clear: both;overflow: hidden;-webkit-border-radius: 0;border-radius: 0;opacity: 1;-webkit-box-shadow: none;box-shadow: none;}
	#header nav div:before, #header nav ul:before, #header nav li:before, #header nav a:before, #header nav div:after, #header nav ul:after, #header nav li:after, #header nav a:after {content: none;}
	#header nav div.menu-item-mega-container {padding: 0;}
	#header nav .menu-item-mega-description-container {padding: 10px 15px;}
	#header nav li {border-width: 0;border-style: solid;}
	#header nav > div > ul > li:first-child {border-top-width: 0;border-top-style: solid;}
	.post-password-form, .header_top_inner, .header_mid_inner, .header_bot_inner, .content_wrap, .headline_inner, .bottom_outer, .footer_inner, .cmsmasters_row_inner, .cmsmasters_row_title_wrap {width: 100%;}
	.cmsmasters_column {margin-bottom: 20px;}
	.cmsmasters_row_columns_behavior .cmsmasters_column {margin-bottom: 20px;}
	.cmsmasters_column.one_first {margin-bottom: 0;}
	.one_fifth, .one_fourth, .three_fourth {width: 48%;}
	.cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fifth, .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fourth, .cmsmasters_row_no_margin > .cmsmasters_row_margin > .three_fourth {width: 50%;}
	.cmsmasters_14141414 > .cmsmasters_column:nth-child(2n + 1) {clear: left;}
	.cmsmasters_121414 .cmsmasters_column.one_half, .cmsmasters_141412 .cmsmasters_column.one_half {width: 98%;float: none;clear: both;}
	.cmsmasters_row_no_margin > .cmsmasters_121414 > .cmsmasters_column.one_half, .cmsmasters_row_no_margin > .cmsmasters_141412 > .cmsmasters_column.one_half {width: 100%;}
	.cmsmasters_141214 .cmsmasters_column.one_fourth, .cmsmasters_141214 .cmsmasters_column.one_half {width: 31.33%;}
	.cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_fourth, .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_half {width: 33.33%;}
	.sidebar_layout_14141414 aside {width: 48%;}
	.sidebar_layout_14141414 aside:nth-child(2n+1) {clear: left;}
	.sidebar_layout_141412 > aside:first-child, .sidebar_layout_141412 > aside:first-child + aside, .sidebar_layout_141412 > div.cl + aside, .sidebar_layout_141412 > div.cl + aside + aside, .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside, .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside {width: 48%;}
	.sidebar_layout_141412 > aside:first-child + aside + aside, .sidebar_layout_141412 > div.cl + aside + aside + aside, .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside + aside {width: 98%;float: none;clear: both;}
	.sidebar_layout_141214 > aside:first-child, .sidebar_layout_141214 > aside:first-child + aside + aside, .sidebar_layout_141214 > div.cl + aside, .sidebar_layout_141214 > div.cl + aside + aside + aside, .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside, .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside + aside + aside {width: 31.33%;}
	.sidebar_layout_141214 > aside:first-child + aside, .sidebar_layout_141214 > div.cl + aside + aside, .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside + aside {width: 31.33%;}
	.sidebar_layout_121414 > aside:first-child, .sidebar_layout_121414 > div.cl + aside, .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside {width: 98%;float: none;clear: both;}
	.sidebar_layout_121414 > aside:first-child + aside, .sidebar_layout_121414 > aside:first-child + aside + aside, .sidebar_layout_121414 > div.cl + aside + aside, .sidebar_layout_121414 > div.cl + aside + aside + aside, .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside + aside, .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside + aside + aside {width: 48%;}
	.sidebar_layout_3414 > aside:first-child, .sidebar_layout_3414 > div.cl + aside, .sidebar_layout_3414 > div.cmsmasters_widget_divider + aside {width: 48%;}
	.sidebar_layout_3414 > aside:first-child + aside, .sidebar_layout_3414 > div.cl + aside + aside, .sidebar_layout_3414 > div.cmsmasters_widget_divider + aside + aside {width: 48%;}
	.sidebar_layout_1434 > aside:first-child, .sidebar_layout_1434 > div.cl + aside, .sidebar_layout_1434 > div.cmsmasters_widget_divider + aside {width: 48%;}
	.sidebar_layout_1434 > aside:first-child + aside, .sidebar_layout_1434 > div.cl + aside + aside, .sidebar_layout_1434 > div.cmsmasters_widget_divider + aside + aside {width: 48%;}
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fifth, .cmsmasters_counters .cmsmasters_counter_wrap.one_fifth, .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fourth, .cmsmasters_counters .cmsmasters_counter_wrap.one_fourth {width: 50%;}
	.cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item {width: 50%;}
	.cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item:nth-child(2n+1) {clear: both;}
	.header_top {overflow: hidden;clear: both;}
	.header_top .header_top_but {display: block;}
	.header_top .header_top_outer {height: auto;display: none;overflow: hidden;}
	.header_top .header_top_inner {height: auto;padding: 20px 0 15px;overflow: hidden;}
	.header_top .social_wrap {float: none;}
	.header_top .social_wrap .social_wrap_inner {text-align: center;}
	.header_top .top_nav_wrap {float: none;}
	.header_top .top_nav_wrap nav {display: none;}
	.header_top .responsive_top_nav {display: block;}
	.header_top .header_top_meta {padding: 20px 0 0;}
	.header_top .header_top_meta:after {content: none;}
	.header_top .meta_wrap {display: block;text-align: center;}
	#header .top_line_nav {padding: 15px 0;}
	#header .top_line_nav .nav_item_wrap {padding: 0px 0;text-align: center;}
	#header .top_line_nav li li .nav_item_wrap {padding-top: 1px;padding-bottom: 1px;}
	#header .top_line_nav li li .nav_item_wrap:before, #header .top_line_nav li li .nav_item_wrap:after {content: " — ";display: none;}
	#header .top_line_nav li li li .nav_item_wrap {padding-top: 3px;padding-bottom: 3px;border-width: 0;border-style: solid;}
	#header .top_line_nav li li li .nav_item_wrap a {border-width: 0;border-style: solid;}
	#header .top_line_nav li li li .nav_item_wrap:before, #header .top_line_nav li li li .nav_item_wrap:after {content: " – ";}
	#header .header_mid {clear: both;}
	#header .header_mid .header_mid_inner {padding: 0 15px;}
	#header .header_mid .resp_mid_nav_wrap {display: block;}
	#header .header_mid .resp_mid_nav_wrap .resp_mid_nav {font-size: 16px;line-height: 16px;}
	#header .header_mid .resp_mid_nav_wrap + .cmsmasters_dynamic_cart_wrap, #header .header_mid .resp_mid_nav_wrap + .mid_search_but_wrap {margin-left: 30px;margin-right: 23px;}
	#header .header_mid .resp_mid_nav_wrap + .cmsmasters_dynamic_cart_wrap::before, #header .header_mid .resp_mid_nav_wrap + .mid_search_but_wrap::before {content: "";position: absolute;top: 0;bottom: 0;right: -11px;width: 1px;height: 19px;opacity: .5;margin: auto;display: block;border-right-width: 1px;border-right-style: solid;}
	#header .header_mid .resp_mid_nav_wrap + .mid_search_but_wrap {margin-left: 0;}
	.enable_header_bottom #header .header_mid .header_interface_outer {width: auto;float: none;clear: both;margin: 0 -15px;display: block;text-align: center;}
	.enable_header_bottom #header .header_mid .header_interface_outer .header_interface_wrap {padding-left: 15px;padding-right: 15px;}
	.enable_header_bottom #header .header_mid .header_interface_wrap {display: inline-block;float: none;clear: both;vertical-align: middle;margin: 0;}
	.enable_header_bottom #header .header_mid .social_wrap {position: absolute;top: 0;right: 15px;height: inherit;}
	#header .header_mid .mid_nav_wrap {display: block;height: auto;float: none;margin: 0 -15px;visibility: visible;overflow: hidden;clear: both;opacity: 1;}
	#header .header_mid .mid_nav_wrap nav {display: none;}
	#header .header_mid .mid_search_but_wrap {display: block;}
	#header .header_mid .mid_search_but_wrap::before {display: block !important;}
	#header .header_mid .cmsmasters_dynamic_cart {padding-right: 0px;}
	#header .header_bot {overflow: hidden;clear: both;}
	#header .header_bot .header_bot_outer {overflow: hidden;}
	#header .header_bot .header_bot_inner {padding: 0;}
	#header .header_bot .resp_bot_nav_wrap .resp_bot_nav_outer {text-align: center;}
	#header .header_bot .bot_nav_wrap {display: block;height: auto;float: none;margin: 0;visibility: visible;overflow: hidden;clear: both;opacity: 1;}
	#header .header_bot .bot_nav_wrap nav {display: none;}
	#header .navigation {padding: 20px 0 20px;}
	.header_bot #header .navigation {padding: 0 0 20;}
	#header .navigation a {padding: 5px 0 5px 30px;}
	#header .navigation li li > a {padding-left: 50px;padding-right: 0;}
	#header .navigation li li li > a {padding-left: 70px;padding-right: 0;}
	#header .navigation .nav_item_wrap {display: inline-block;vertical-align: middle;overflow: visible;}
	#header .navigation li > a .nav_title {display: inline-block;vertical-align: bottom;overflow: visible;padding: 5px 15px 4px 15px;}
	#header .navigation li > a:not([href]) .cmsmasters_resp_nav_toggle, #header .navigation li > a[href="#"] .cmsmasters_resp_nav_toggle {width: 100%;right: 0;text-align: right;}
	#header .navigation li > a:not([href]) .cmsmasters_resp_nav_toggle::before, #header .navigation li > a[href="#"] .cmsmasters_resp_nav_toggle::before {width: 25px;margin-right: 30px;margin-top: 4px;display: inline-block;vertical-align: middle;text-align: left;}
	#header .navigation li.menu-item-icon > a .nav_title {padding: 5px 15px 4px 10px;}
	#header .navigation .nav_tag {display: inline-block;vertical-align: middle;padding: 0 5px;margin: 0 0 0 10px;}
	#header .navigation .nav_subtitle {display: block;}
	#header .navigation .cmsmasters_resp_nav_toggle {font-size: 20px;line-height: 1em;display: inline-block;vertical-align: middle;margin: 0 0 0 15px;margin: auto !important;cursor: pointer;width: 30px;height: 30px;position: absolute;left: auto;right: 30px;top: 0;bottom: 0;}
	#header .navigation .menu-item-mega-container {width: 100% !important;left: auto !important;right: auto !important;}
	.error .error_title {font-size: 150px;}
	.error .error_subtitle {padding: 0 5%;}
	.cmsmasters_dynamic_cart_wrap .cmsmasters_dynamic_cart > a.cmsmasters_dynamic_cart_button {display: none;}
	.cmsmasters_dynamic_cart_wrap .cmsmasters_dynamic_cart > a.cmsmasters_header_cart_link {display: block;}
	.cmsmasters_dynamic_cart_wrap .cmsmasters_dynamic_cart .widget_shopping_cart_content {display: none;}}
@media only screen and (max-width: 950px) {.cmsmasters_responsive_width {width: 950px;}
	.middle_content {padding-top: 15px;padding-bottom: 15px;}
	.middle_content .opened-article:not(.profiles) {padding-left: 0;padding-right: 0;}
	.cmsmasters_post_default + .cmsmasters_post_default {margin-top: 2%;padding-top: 7%;}
	.cmsmasters_tabs .cmsmasters_tabs_wrap {padding: 30px;}
	.content_wrap.l_sidebar .cmsmasters_row, .content_wrap.r_sidebar .cmsmasters_row {padding-left: 0;padding-right: 0;margin-left: 0;margin-right: 0;}
	.content, .sidebar {width: 100%;padding-top: 5%;padding-left: 0;padding-right: 0;}
	.cmsmasters_open_project .project_content.with_sidebar {width: 100%;float: none;}
	.cmsmasters_open_project .project_sidebar {width: 100%;float: none;padding: 15px 0 0;}
	.cmsmasters_open_profile .profile_content.with_sidebar {width: 100%;float: none;}
	.cmsmasters_open_profile .profile_sidebar {width: 100%;float: none;padding-left: 0;padding-right: 0;}
	.widget_shopping_cart {max-width: 350px;}}
@media only screen and (max-width: 768px) {.cmsmasters_responsive_width {width: 768px;}
	.bottom_bg {padding-top: 65px;padding-bottom: 25px;}
	.cmsmasters_project_puzzle .project_inner {padding-left: 15px;padding-right: 15px;}
	.cmsmasters_quotes_grid .cmsmasters_quotes_list .cmsmasters_quote {width: 100%;margin: 0 0 30px 0;}
	.cmsmasters_quotes_grid .cmsmasters_quotes_list .cmsmasters_quote .cmsmasters_quote_inner {padding: 20px 25px 30px;}
	.cmsmasters_quotes_grid .cmsmasters_quotes_list .cmsmasters_quote:last-of-type {margin-bottom: 0;}
	.headline_inner.align_center, .headline_inner:not(.align_center) .cmsmasters_breadcrumbs_aligner, .headline_inner:not(.align_center) .headline_aligner {min-height: auto;height: auto;}
	.gallery.gallery-columns-8 .gallery-item {width: 48%;}
	.gallery.gallery-columns-8 .gallery-item:nth-child(4n + 1) {clear: none;}
	.gallery.gallery-columns-8 .gallery-item:nth-child(2n + 1) {clear: both;}
	.cmsmasters_column:last-child {margin-bottom: 0;}
	.cmsmasters_post_default.sticky .cmsmasters_post_cont::before {top: 0;right: 0;}
	.one_first, .one_half, .one_third, .two_third, .one_fourth, .one_fifth, .three_fourth, .cmsmasters_121414 .cmsmasters_column.one_half, .cmsmasters_141412 .cmsmasters_column.one_half, .cmsmasters_141214 .cmsmasters_column.one_fourth, .cmsmasters_141214 .cmsmasters_column.one_half {width: 98%;float: none;clear: both;}
	.cmsmasters_row_columns_behavior .one_first, .cmsmasters_row_columns_behavior .one_half, .cmsmasters_row_columns_behavior .one_third, .cmsmasters_row_columns_behavior .two_third, .cmsmasters_row_columns_behavior .one_fourth, .cmsmasters_row_columns_behavior .one_fifth, .cmsmasters_row_columns_behavior .three_fourth, .cmsmasters_row_columns_behavior .cmsmasters_121414 .cmsmasters_column.one_half, .cmsmasters_row_columns_behavior .cmsmasters_141412 .cmsmasters_column.one_half, .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_fourth, .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_half {display: block;margin-bottom: 0;}
	.cmsmasters_row_columns_behavior .one_first .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .one_half .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .one_third .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .two_third .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .one_fourth .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .one_fifth .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .three_fourth .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .cmsmasters_121414 .cmsmasters_column.one_half .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .cmsmasters_141412 .cmsmasters_column.one_half .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_fourth .cmsmasters_column_inner, .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_half .cmsmasters_column_inner {display: block;}
	.cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_first, .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_half, .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_third, .cmsmasters_row_no_margin > .cmsmasters_row_margin > .two_third, .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fourth, .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fifth, .cmsmasters_row_no_margin > .cmsmasters_row_margin > .three_fourth {width: 100%;}
	.cmsmasters_row_no_margin > .cmsmasters_121414 > .cmsmasters_column.one_half, .cmsmasters_row_no_margin > .cmsmasters_141412 > .cmsmasters_column.one_half, .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_fourth, .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_half {width: 100%;}
	.cmsmasters_row_margin.cmsmasters_row_columns_behavior {display: block;}
	.cmsmasters_row_margin.cmsmasters_row_columns_behavior .cmsmasters_featured_block .featured_block_text:empty {padding-bottom: 100%;}
	.cmsmasters_row_no_margin > .cmsmasters_row_margin {display: block;}
	.sidebar_layout_14141414 aside, .sidebar_layout_141412 aside, .sidebar_layout_141214 aside, .sidebar_layout_121414 aside, .sidebar_layout_131313 aside, .sidebar_layout_3414 aside, .sidebar_layout_1434 aside, .sidebar_layout_2313 aside, .sidebar_layout_1323 aside, .sidebar_layout_1212 aside {width: 98% !important;}
	.cmsmasters_featured_block .featured_block_inner {width: 100% !important;}
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_third, .cmsmasters_counters .cmsmasters_counter_wrap.one_third {width: 50%;}
	.cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item {width: 100%;float: none;clear: both;}
	.cmsmasters_clients_grid.clients_five .cmsmasters_clients_item, .cmsmasters_clients_grid.clients_four .cmsmasters_clients_item, .cmsmasters_clients_grid.clients_three .cmsmasters_clients_item, .cmsmasters_clients_grid.clients_two .cmsmasters_clients_item {width: 100%;float: none;clear: both;}
	#header .header_mid .header_mid_inner {text-align: center;}
	#header .header_mid .cmsmasters_dynamic_cart_wrap {margin-left: 0;}
	#header .header_mid .cmsmasters_dynamic_cart_wrap .widget_shopping_cart_content {display: none;}
	#header .header_mid .social_wrap .social_wrap_inner {text-align: right;}
	#header .header_mid .mid_nav_wrap {height: auto;float: none;margin: 0 -15px;visibility: visible;overflow: hidden;clear: both;opacity: 1;}
	#header .header_mid .mid_nav_wrap nav {display: none;}
	.headline_outer .headline_inner {padding: 30px 15px;}
	.headline_outer .headline_inner.align_right, .headline_outer .headline_inner.align_left {padding: 40px 30px;}
	.headline_outer .headline_inner.align_right .headline_aligner, .headline_outer .headline_inner.align_left .headline_aligner {display: none;}
	.headline_outer .headline_inner.align_right .cmsmasters_breadcrumbs, .headline_outer .headline_inner.align_left .cmsmasters_breadcrumbs, .headline_outer .headline_inner.align_right .headline_text, .headline_outer .headline_inner.align_left .headline_text, .headline_outer .headline_inner.align_right .cmsmasters_breadcrumbs_inner, .headline_outer .headline_inner.align_left .cmsmasters_breadcrumbs_inner {width: 100%;float: none;text-align: center;}
	.headline_outer .headline_inner.align_right .headline_text.headline_icon, .headline_outer .headline_inner.align_left .headline_text.headline_icon {padding: 0;}
	.headline_outer .headline_inner.align_right .headline_text::before, .headline_outer .headline_inner.align_left .headline_text::before {position: relative;}
	.headline_outer .headline_inner.align_right .cmsmasters_breadcrumbs_aligner, .headline_outer .headline_inner.align_left .cmsmasters_breadcrumbs_aligner {min-height: 0px;}
	#header .header_bot .resp_bot_nav_wrap {padding: 15px 0;}
	.cmsmasters_header_search_form .cmsmasters_header_search_form_field {height: 70px;}
	.cmsmasters_header_search_form .cmsmasters_header_search_form_field button {font-size: 26px;line-height: 26px;width: 85px;}
	.cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {font-size: 30px;line-height: 40px;}
	.cmsmasters_footer_default .footer_nav {display: block;text-align: center;}
	.cmsmasters_footer_default .footer_nav > li {display: inline-block;float: none;margin: 0 5px 0;}
	.cmsmasters_footer_small .footer_inner .footer_left {width: auto;display: block;text-align: center;}
	.cmsmasters_footer_small .footer_inner .footer_right {padding: 15px 0 0;width: auto;display: block;}
	#page .cmsmasters_footer_small .footer_inner .footer_right {text-align: center;}
	.cmsmasters_footer_small .footer_logo_wrap {text-align: center;}
	.cmsmasters_footer_small .footer_nav_wrap {padding: 0 0 10px;float: none;}
	.cmsmasters_footer_small .footer_nav_wrap nav > div {text-align: center;}
	.cmsmasters_footer_small .footer_nav_wrap nav > div:after {content: none;}
	.cmsmasters_footer_small .footer_nav {display: block;text-align: center;}
	.cmsmasters_footer_small .footer_nav > li {display: inline-block;float: none;}
	.cmsmasters_footer_small .social_wrap {padding: 0 0 10px;float: none;}
	.cmsmasters_footer_small .social_wrap .social_wrap_inner {text-align: center;}
	.cmsmasters_footer_small .social_wrap .social_wrap_inner:after {content: none;}
	.cmsmasters_footer_small .footer_custom_html_wrap {padding: 0 0 10px;float: none;}
	.cmsmasters_footer_small .footer_custom_html_wrap .footer_custom_html {text-align: center;}
	.cmsmasters_footer_small .footer_copyright {padding: 0;text-align: center;}
	.blog.timeline {height: auto !important;}
	.blog.timeline:after {content: none;display: none;}
	.blog.timeline .post {width: 100%;padding-top: 40px;position: relative !important;left: auto !important;right: auto !important;top: auto !important;bottom: auto !important;-webkit-transform: none !important;-moz-transform: none !important;-ms-transform: none !important;-o-transform: none !important;transform: none !important;}
	.blog.timeline .post:first-child {padding-top: 0;}
	.blog.timeline .post:before {content: none;}
	.blog.timeline .post.cmsmasters_timeline_left .cmsmasters_timeline_margin, .blog.timeline .post.cmsmasters_timeline_right .cmsmasters_timeline_margin {margin-left: 0;margin-right: 0;}
	.blog.timeline .post .cmsmasters_post_info {position: relative;top: 0;right: auto;transform: none;-webkit-transform: none;}
	.blog.timeline .post .cmsmasters_post_info .cmsmasters_post_date {margin: 0 auto 10px;}
	.share_posts {padding: 40px 0 0;}
	.post_nav {padding: 45px 0 43px;margin-bottom: 26px;}
	.post_nav > span.cmsmasters_next_post, .post_nav > span.cmsmasters_prev_post {width: 100%;}
	.post_nav > span.cmsmasters_next_post .cmsmasters_pag_post_info, .post_nav > span.cmsmasters_prev_post .cmsmasters_pag_post_info, .post_nav > span.cmsmasters_next_post a, .post_nav > span.cmsmasters_prev_post a {width: 100%;padding-left: 5% !important;padding-right: 5% !important;right: 0;text-align: center;}
	.post_nav > span.cmsmasters_next_post .cmsmasters_pag_post_info + span, .post_nav > span.cmsmasters_prev_post .cmsmasters_pag_post_info + span, .post_nav > span.cmsmasters_next_post a + span, .post_nav > span.cmsmasters_prev_post a + span {top: 0;}
	.post_nav .cmsmasters_next_arrow, .post_nav .cmsmasters_prev_arrow {display: none;}
	.post_nav .cmsmasters_prev_post .cmsmasters_pag_post_info {margin: 0 0 0 -5px;}
	.post_nav .cmsmasters_prev_post .cmsmasters_pag_post_info::before {font-size: .8em;content: "";vertical-align: middle;line-height: 1;display: inline-block;font-family: "fontello-custom" !important;padding: 0 10px 0 0;}
	.post_nav .cmsmasters_next_post .cmsmasters_pag_post_info {margin: 0 -5px 0 0;}
	.post_nav .cmsmasters_next_post .cmsmasters_pag_post_info::after {font-size: .8em;content: "";vertical-align: middle;line-height: 1;display: inline-block;font-family: "fontello-custom" !important;padding: 0 0 0 10px;}
	.post_nav .cmsmasters_prev_post {margin-bottom: 30px;}
	.comments_nav {padding-top: 40px;}
	.commentlist + .comments_nav {padding: 45px 0 35px;}
	.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap {width: 100%;margin: 0 0 20px;float: none;}
	.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap .cmsmasters_img_wrap a {padding-bottom: 0%;height: auto;}
	.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap .cmsmasters_img_wrap a img {position: relative;}
	.cmsmasters_profile .profile_outer {max-width: 400px;margin: 0 auto;}
	.cmsmasters_profile.horizontal .profile_social_icons {position: static;padding: 20px 0 0px;opacity: 1;}
	.cmsmasters_profile.horizontal .profile_social_icons .profile_social_icons_list {position: static;margin-top: 0;}
	.cmsmasters_profile.vertical .cmsmasters_img_wrap {width: 100%;float: none;margin-bottom: 20px;}
	.cmsmasters_profile.vertical .cmsmasters_img_wrap img {width: 100%;}
	.cmsmasters_profile.vertical .cmsmasters_img_wrap + .profile_inner {width: 100%;float: none;}
	.cmsmasters_tabs.tabs_mode_tour {display: block;}
	#page .cmsmasters_tabs .cmsmasters_tabs_list {display: block;width: 100%;}
	#page .cmsmasters_tabs .cmsmasters_tabs_list > li {max-width: 100%;margin: 0 0 -1px;-webkit-border-radius: 0px 0px 0 0;border-radius: 0px 0px 0 0;}
	#page .cmsmasters_tabs .cmsmasters_tabs_list > li:first-child {-webkit-border-radius: 10px 10px 0 0;border-radius: 10px 10px 0 0;}
	#page .cmsmasters_tabs .cmsmasters_tabs_list > li a {padding: 15px;}
	#page .cmsmasters_tabs .cmsmasters_tabs_list .cmsmasters_tabs_wrap {left: auto;right: auto;margin-right: 0;margin-left: 0;padding: 30px;}
	#page .cmsmasters_tabs .cmsmasters_tabs_wrap {right: 0;left: 0;}}
@media only screen and (max-width: 600px) {.cmsmasters_responsive_width {width: 600px;}
	.comment-respond p input[type="email"], .comment-respond p input[type="text"] {width: 100%;}
	html.cmsmasters_html {margin-top: 0 !important;}
	html.cmsmasters_html body.admin-bar {padding-top: 46px;}
	html.cmsmasters_html .cmsmasters_header_search_form {top: 0;bottom: 0;}}
@media only screen and (max-width: 540px) {.cmsmasters_responsive_width {width: 540px;}
	.cmsmasters_wrap_pagination ul li .page-numbers {min-width: 25px;}
	.cmsmasters_profile .profile_outer {width: 100%;margin: auto;}
	.cmsmasters_profile.vertical .profile_inner {padding: 10px 30px 70px;}
	.cmsmasters_profile.vertical .cmsmasters_profile_cont_info {padding-bottom: 15px;}
	.cmsmasters_profile.vertical .profile_social_icons {bottom: 25px;}
	#page .gallery .gallery-item {width: 98%;float: none;clear: both;}
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fifth, .cmsmasters_counters .cmsmasters_counter_wrap.one_fifth, .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fourth, .cmsmasters_counters .cmsmasters_counter_wrap.one_fourth, .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_third, .cmsmasters_counters .cmsmasters_counter_wrap.one_third, .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_half, .cmsmasters_counters .cmsmasters_counter_wrap.one_half {width: 100%;}
	.cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item, .cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item, .cmsmasters_pricing_table.pricing_two .cmsmasters_pricing_item, .cmsmasters_pricing_table.pricing_one .cmsmasters_pricing_item {width: 100%;float: none;}
	#page .headline_outer .headline_inner {display: block;padding: 30px 10px;}
	#page .headline_outer .headline_inner .headline_aligner {display: none;}
	#page .headline_outer .headline_inner .headline_text_wrap {display: block;}
	#page .headline_outer .headline_inner .headline_text {display: block;padding: 0;text-align: center;}
	#page .headline_outer .headline_inner .headline_text::before {position: relative;}
	.cmsmasters_header_search_form .cmsmasters_header_search_form_field button {font-size: 22px;line-height: 22px;width: 80px;}
	.cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {font-size: 20px;line-height: 30px;}
	#page .cmsmasters_breadcrumbs {float: none;text-align: center;}
	#page .cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_aligner {display: none;}
	#page .cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner {padding-bottom: 0;}
	#page .cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner .breadcrumbs_sep {padding: 0 0px;vertical-align: middle;}
	#header .header_mid {padding-top: 20px;}
	#header .header_mid .logo_wrap {width: auto;float: none;margin: 0 auto 35px;height: auto;text-align: center;}
	#header .header_mid .logo_wrap:after {content: none;}
	#header .header_mid .logo_wrap .logo img {position: static;}
	#header .header_mid .header_interface_outer {float: none;display: inline-block;margin-bottom: 30px;width: auto;height: auto;}
	.enable_header_bottom #header .header_mid .header_interface_wrap {padding: 40px 5px;}
	#header .header_mid .slogan_wrap {float: none;padding-bottom: 20px;}
	#page #header .header_mid .slogan_wrap {margin: 0;}
	#header .header_mid .slogan_wrap .slogan_wrap_inner {padding: 0;text-align: center;}
	#header .header_mid .slogan_wrap .slogan_wrap_inner:after {content: none;}
	#header .header_mid .slogan_wrap .slogan_wrap_text {text-align: center;}
	#header .header_mid .header_interface_wrap {padding-bottom: 0;}
	#header .header_mid .social_wrap {float: none;display: block;margin: 0;width: 100%;}
	#page #header .header_mid .social_wrap {padding-top: 0px;padding-bottom: 30px;}
	.enable_header_bottom #header .header_mid .social_wrap {position: static;}
	#header .header_mid .social_wrap .social_wrap_inner {text-align: center;}
	.about_author .about_author_avatar {width: 100%;margin: 0 0 30px;float: none;text-align: center;}
	#comments .cmsmasters_comment_item .cmsmasters_comment_item_cont {overflow: visible;}
	#comments .cmsmasters_comment_item .cmsmasters_comment_item_avatar {width: 75px;margin-right: 15px;}
	#comments .cmsmasters_comment_item .cmsmasters_comment_item_cont_info {padding-top: 17px;}
	#comments .cmsmasters_comment_item .cmsmasters_comment_item_content {padding-top: 10px;clear: both;}}
@media only screen and (max-width: 500px) {.size-full.wp-image-905.alignright {width: 100%;float: none;margin-left: 0;}}
@media only screen and (max-width: 320px) {.cmsmasters_responsive_width {width: 320px;}
	.post-password-form, .header_top_inner, .header_mid_inner, .header_bot_inner, .content_wrap, .headline_inner, .bottom_outer, .footer_inner, .cmsmasters_row_inner, .cmsmasters_row_title_wrap {width: 320px;}}